<div class="container-fluid">
  <div class="img-container">
    <img [src]="imageSrc" class="center" />
  </div>
  <br />
  <div *ngFor="let q of questions; let i = index;">
    <h5>{{ q.questionDesc }}</h5>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" [class.active]="questions[i].activeChoice === j" (click)="onClick(i,j)" *ngFor="let c of q.choices; let j = index;">
        {{ c }}
        <i class="fa fa-chevron-right"></i>
      </li>
    </ul>
    <h3>&nbsp;</h3>
  </div>

  <div>
    <h4>Please enter your information</h4>
    <form>
      <div class="form-group">
        <input class="form-control" name="name" placeholder="Name" [(ngModel)]="name">
      </div>
      <br />
      <div class="form-group">
        <input class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <br />
      <div class="form-group">
        <input type="tel" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="phone" tel minlength="10">
        <span class="validity"></span>
      </div>
      <label class="offer">Enter phone number to receive 6 free wings!</label>
      <br />
      <label class="optin">Message and data rates may apply</label>
      <div class="custom-control custom-checkbox optin">
        <input type="checkbox" class="custom-control-input" id="optIn" />
        <label class="custom-control-label" for="optIn">I agree to receive 1 message per month</label>
      </div>
      <br />
      <div class="form-group">
        <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()" />
      </div>
    </form>
    <h3>&nbsp;</h3>
  </div>
</div>



